<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>My HTML App</title>
    <style>
        /* Add your CSS styles here */

        .container {
            position: relative;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        circle {
            cursor: pointer;
            pointer-events: all;

        }
    </style>
</head>

<body>
    <div id="app">
        {{title}}
        {{this.current_time}}
        <div class="container">
            <video id="video" src="drone_45.mp4" controls width="640" height="360"></video>

            <svg width="640" height="360">
                <!-- <rect v-for="(box, index) in current_boxes" :key="index" :x="box.bbox.min_x * 640"
                    :y="box.bbox.min_y * 480" :width="50" :height="50" fill="blue" stroke="black" stroke-width="2" /> -->

                <circle v-for="(box, index) in current_boxes" :key="index" :cx="box.pos.x * 640" :cy="box.pos.y * 360"
                    r="5" fill="red" @click="player_click(box)" />

                <path v-if="display_track" :d="generatePath(display_track)" fill="none" stroke="red"
                    stroke-dasharray="5,2" stroke-width="2" />

            </svg>
        </div>

        <!-- {{tracks}} -->
    </div>

    <script>

        var video

        var app = new Vue({
            el: '#app',
            data: {
                title: "hello",
                tracks: [],
                current_time: 1,
                display_track: null
            },
            computed: {
                current_boxes() {
                    let output = []
                    // console.log(this.tracks)
                    for (let index = 0; index < this.tracks.length; index++) {
                        const track = this.tracks[index]

                        track.frames.forEach(frame => {
                            // console.log(frame.time_stamp, this.current_time)
                            if (frame.time_stamp == this.current_time) {
                                output.push({ ...frame, track_id: index })
                            }
                        }, this)
                    }
                    return output
                }
            },
            mounted() {
                self = this
                fetch('tracking.json')
                    .then(response => response.json())
                    .then(data => {
                        // Process the loaded JSON data
                        console.log(data);
                        self.tracks = data.object_tracks
                    })
                    .catch(error => {
                        // Handle any errors that occur during the fetch operation
                        console.error('Error:', error);
                    });

                video = document.getElementById('video');

            },
            methods: {
                player_click(player) {
                    console.log(player)
                    this.display_track = this.tracks[player.track_id]
                },
                generatePath(coordinates) {
                    console.log(coordinates)
                    const points = []
                    const first_point_time = coordinates.frames[0].time_stamp
                    const subset = coordinates.frames.slice(0, this.current_time - first_point_time + 1);

                    return 'M' + subset
                        .map(coord => `${coord.pos.x * 640},${coord.pos.y * 360} L`)
                        .join(" ").slice(0, -1);
                },
            }
        })

        function tick() {
            const currentTime = video.currentTime;
            const frameRate = 25; // Replace with the actual frame rate of your video
            const frameNumber = Math.floor(currentTime * frameRate);
            app.current_time = frameNumber
        }

        setInterval(tick, 1000 / 30);

    </script>
</body>

</html>